<div class="card">
  <div class="card-header">
    <div class="card-title h5">{{index+1}} - {{product.title}}</div>
    <div class="card-subtitle text-gray">{{product.handle}} {{product.product_type}}</div>
  </div>
  <div class="card-body">
    {{product.body_html}}
  </div>
  <div class="card-footer">
    <button *ngIf="showcart" class="btn btn-primary">Add To Cart</button>
    <div class="note" highlight>
      <ng-content></ng-content>
    </div>

    <h5 highlight="silver">This is highlighted directive</h5>
    
    <h5 [highlight]="'lightgreen'">This is highlighted directive</h5>
    
  </div>
</div>
