<form [formGroup]="orderForm">
  <div>
    <input type="text" placeholder="Full name" formControlName="fullname"> 
    <app-errors [control]="orderForm.get('fullname')"></app-errors>
  </div>
  <div>
    <input type="text" placeholder="Email" formControlName="email"> 
    <app-errors [control]="orderForm.get('email')"></app-errors>
  </div>
  <div>
    <input type="text" placeholder="Phone" formControlName="mobile"> 
    <app-errors [control]="orderForm.get('mobile')"></app-errors>
  </div>
  <div>
    <textarea formControlName="address"></textarea>
    <app-errors [control]="orderForm.get('address')"></app-errors>
  </div>
  <div>
<button>Book order</button>
<button (click)="toogleForm(true)">Disable</button>
<button (click)="toogleForm(false)">Enable</button>
<button (click)="populateValue()">Fill the form</button>
<button (click)="partialValue()">Partial fillup</button>
  </div>
</form>

{{orderForm.value|json}}