<header class="navbar">
  <section class="navbar-section">
    <a routerLink="intro" class="navbar-brand mr-2">Angular Learning</a>
    <a routerLink="about-us" class="btn btn-link">AboutUS</a>
    <a routerLink="order" class="btn btn-link">Order</a>
  </section>
  <section class="navbar-section">
    <div class="input-group input-inline">
      <input class="form-input" type="text" placeholder="search">
      <button class="btn btn-primary input-group-btn">Search</button>
    </div>
  </section>
</header>
