<h3>Available Products</h3>
<div class="columns">
  <div class="column col-8">
    Total {{ productList.length }}
    <button class="btn" (click)="pushToTop()">Push to top</button>
    <button class="btn" (click)="addLast()">Add to last</button>
    <button class="btn" (click)="toogleMode()">Show {{!gridDisplay?' Grid':'List'}}</button>
  
    <table class="table table-striped table-hover" *ngIf="!gridDisplay">
      <thead>
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>Product Type</th>
          <th>Created At</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ap of productList;let indx = index;let frst = first;let l = last;let odd=odd;let even=even;" [class.first]="frst"
          [class.last]="l">
          <td> {{ indx+1 }} </td>
          <td (click)="showDetail(indx)" class="clickable"> {{ ap.title }} </td>
          <td> {{ ap.product_type }} </td>
          <td> {{ ap.created_at }} </td>
          <td>
            Index: {{indx}} First: {{ frst }} Last: {{ l }} Odd: {{odd}} Even:{{even}}

          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="gridDisplay" class="columns">
      <div *ngFor="let pro of productList;let i=index" class="column col-4">
        <app-pro-detail [indx]="i" [product]="pro" (onAddToCart)="pushToCart($event)"></app-pro-detail>
      </div>
    </div>
    <div *ngIf="currentSeletedItem">
      <div>
        <button (click)="next()">Next</button>
        <button (click)="modifyCurrentSelectedItemData()">Change Data</button>
        <button class="btn" (click)="showCartBtn=!showCartBtn">Toggle Cart</button>
  
        {{showCartBtn}}
      </div>
      <app-pro-complete-details [product]="currentSeletedItem" [showcart]="showCartBtn" [index]="currentSelectedIndex">
      </app-pro-complete-details>
    </div>


  </div>
  <div class="column col-4">
    <!-- Populate cartList data in table using for loop -->
    <table class="table table-striped table-hover" *ngIf="cartList.length">
      <thead>
        <tr>
          <th>No.</th>
          <th>Title</th>
          <th>Qty</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ap of cartList;let indx = index">
          <td> {{ indx+1 }} </td>
          <td> {{ ap.productTitle }} </td>
          <td> {{ ap.qty }} </td>
          <td>
            <button (click)="increment(ap)">+</button>
            <button (click)="decrement(ap)">-</button>
            <button (click)="removeFromCart(indx)">x</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
